body {
  margin: 0;
  font-family: "Corben", serif;
  font-weight: 400;
  font-style: normal;
  color: #d3d3d3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
